body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component-body {
  text-align: center;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.side-spaced {
  margin-left: 20px;
  margin-right: 20px;
}

.row-single-spaced {
  margin-top: 20px
}

.row-double-spaced {
  margin-bottom: 20px;
  margin-top: 20px;
}

.row-auto-spaced {
  margin-top: auto;
  margin-bottom: auto;
}

.leading-list {
  margin-left: 20px;
  justify-content: start;
}

.unit-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  border: 3px solid black;
  background-color: rgb(224, 224, 224);
}

.post-spaced {
  margin-left: 0;
  margin-right: 20px;
}

.red-border {
  border: 3px solid rgb(236, 0, 0);
}

.blue-border {
  border: 3px solid rgb(35, 35, 255);
}

.black-border {
  border: 3px solid black;
}

.gray-border {
  border: 3px solid gray;
}

.no-border {
  border: none;
}

.no-background {
  background: none;
}

.label {
  font-weight: bold;
  margin: 20px;
}

.input-parameter {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  max-height: 20px;
}

.button-control {
  margin: 20px;
}

.result-value {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  max-height: 20px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(190, 29, 0);
  background-color: rgb(224, 224, 224);   
}

.square-die {
  width: 25px;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.spacer {
  padding-top: 20px;
}

.elipsis {
  text-align: start;
  margin-left: 40px;
}